.outerContainer {
  justify-content: center;
  align-items: center;
  height: 99%;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
.mainpage{
  background: #1A1A1D;

  height: 100%;
}

.chat-sidebar {
	background: #2083F7;;
	color: #fff;
	padding: 20px 20px 60px;
  width: 18%;
  height: 100%;
  padding: 10px;
  float: left;
}

.chat-sidebar h2 {
	font-size: 20px;
	padding: 10px;
  margin-bottom: 20px;
  font-family: "Poppins",sans-serif;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
  font-family: "Poppins",sans-serif;
}

.chat-sidebar ul li {
  padding: 10px 0;
  font-family: "Poppins",sans-serif;
}
.chat-sidebar-header img{
  height: 10px;
  width: 40px;
}
.chat-sidebar .logo {
  position: relative;
  padding: .5rem .7rem;
  z-index: 4;
}
.user-info {
  float: left;
  color: #fff;
}
.user-info span {
  display: block;
  font-family: sans-serif;
  font-size: 18px;
}
.user-info .user-role {
  font-size: 12px;
  color: #fff;
}
.user-info .user-status * {
  display: inline-block;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}
.user-pic {
  float: left;
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 1px solid #585858;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #1A1A1D;
  align-content: center;
  padding-top: 5px;
}
.user-info .user-status .greendot{
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 7px;
}
.borderline{
  width: 100%;
  height: 1px;
  background-color: #cdcdd0;
  margin-top: 50px;
}
.room{
  width: 100%;
  height: 250px;
  padding: 10px;
}
.room h3{
  color: whitesmoke;
}
.chatcont{
  height: 92%;
  width: auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
  margin-top: 70px;
}
